[submodule "model_zoos/gaussian-splatting"]
	path = model_zoos/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "model_zoos/ControlNet"]
	path = model_zoos/ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
